.center {
    margin-top: 110px;
}

.center-image img {
    width: 100%;
}
.center-logo img {
    width: 30%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

div.center-name {
    /* background-color: lightblue; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* border-radius: 5px; */
    border-bottom: 1px solid lightblue;
}

.activities-wrapper {
    position: relative;
    z-index: 5;
    background-color: white;
    padding-top: 2rem;
}

div.activities {
    width: clamp(300px, 90vw, 1500px);
    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}
.card.join-us-card {
    width: 30%;
    max-width: 25rem;
}
div.join-us-card {
    position: fixed;
    right: 5%;
    /* top: calc(20% + 53px); */
}
.btn-purple {
    background-color: #a53692;
    padding: 0.3rem;
    width: 85%;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    border: 2px solid #a53692;
    color: white;
    transition: background-color 0.3s;
    /* position: absolute;
    bottom: 0; */
}
.btn-purple:hover {
    background-color: white;
    color: #a53692;
}

@media only screen and (max-width: 800px) {
    div.join-us-card {
        position: static;
        width: 100%;
        /* transform: translateY(0); */
    }
    .card.join-us-card {
        width: 100%;
    }
}
